torch==1.10.0+cu111
https://data.pyg.org/whl/torch-1.10.0%2Bcu113/torch_cluster-1.6.0-cp39-cp39-linux_x86_64.whl
https://data.pyg.org/whl/torch-1.10.0%2Bcu113/torch_sparse-0.6.13-cp39-cp39-linux_x86_64.whl
https://data.pyg.org/whl/torch-1.10.0%2Bcu113/torch_scatter-2.0.9-cp39-cp39-linux_x86_64.whl
torch-geometric
captum>=0.4
tensorboard>=2.6
numpydoc>=1.1
squidpy~=1.1.2



